@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');

// Additional styles
@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/theme.scss';

@import 'markdown.scss';

// Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive
@responsive {
    .rtl {
        direction: rtl;
    }
}

// See Alpine.js: https://github.com/alpinejs/alpine#x-cloak
[x-cloak] {
    display: none;
}

// AOS styles
$aos-distance: 16px;
@import 'node_modules/aos/src/sass/aos.scss';


:root {
    --scrollbar-width: 6px;
    --c-divider-light: rgba(60, 60, 67, .12);
    --c-divider-dark: rgba(84, 84, 88, .48);
    --c-bg: #fff;
  }
  
::-webkit-scrollbar{
  width:var(--scrollbar-width);
}
::-webkit-scrollbar:horizontal{
  height:var(--scrollbar-width);
}



::-webkit-scrollbar-track{
  background: var(--c-bg);
}

::-webkit-scrollbar-thumb{
  transition: .2s ease background;
  background:var(--c-divider-light);
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
  background:var(--c-divider-dark);
}

@font-face {
  font-family: Emoji;
  src: 
    local("Apple Color Emoji"),
    local("Segoe UI Emoji"),
    local("Segoe UI Symbol"),
    local("Noto Color Emoji");
  unicode-range: U+1F000-1F644, U+203C-3299;
}


body {
  font-family: 
    system-ui, -apple-system, /* 系统默认字体 */ 
    Segoe UI, Rototo, Emoji, Helvetica, Arial, sans-serif; /*兜底字体*/
}


/* 衬线字体 */
.font-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

/* 等宽字体 */
.font-mono {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}