@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  @apply bg-cool-gray-900 text-white;
}

html {
  @apply bg-warm-gray-200 text-dark-900 transition-all;
  font-size: 20px;
  font-family: Heiti TC;
}

.container {
  @apply mx-auto;
  max-width: 1400px;
  
}

.block-bg-color {
  @apply bg-warm-gray-300 dark:bg-gray-700;
}

.border-line-color {
  @apply border-black dark:border-white;
}